<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Setting name="配置">
    <Text name="背景墙图库搜索系统"></Text>
    <AppID name="17418238"></AppID>
    <ApiKey name="8r0G276ZtFZG54xBzGos62Vy"></ApiKey>
    <SecreyKey name="pPRkniyqug5QpL5Y7u0gYppHPPjrUNSx"></SecreyKey>
    <TimeOut name="60000"></TimeOut>
    <JpgPath name="\\nrl\EMBDesign\JPG\"></JpgPath>
    <ImageID name="1"></ImageID>
    <Tags1 name="1"></Tags1>
    <Tags2 name="2"></Tags2>
    <Quantity name="100"></Quantity>
  </Setting>
  <ErrorCode>
    <Code1 name="服务器内部错误，请再次请求， 如果持续出现此类错误，请通过QQ群（630770006）或工单联系技术支持团队"></Code1>
    <Code2 name="服务暂不可用，请再次请求， 如果持续出现此类错误，请通过QQ群（630770006）或工单联系技术支持团队"></Code2>
    <Code3 name="调用的API不存在，请检查后重新尝试"></Code3>
    <Code4 name="集群超限额"></Code4>
    <Code6 name="无权限访问该用户数据"></Code6>
    <Code13 name="获取token失败"></Code13>
    <Code14 name="鉴权失败"></Code14>
    <Code15 name="应用不存在或者创建失败"></Code15>
    <Code17 name=" 每天请求量超限额；未上线计费的接口，可通过QQ群（630770006）联系群管、或提交工单手动提额；已上线计费的接口，可直接在控制台开通计费，调用量不受限制，按调用量阶梯计费，并保证10qps的并发"></Code17>
    <Code18 name="QPS超限额；未上线计费的接口，可通过QQ群（630770006）联系群管、或提交工单手动提额；已上线计费的接口，可直接在控制台开通计费，调用量不受限制，按调用量阶梯计费，并保证10qps的并发"></Code18>
    <Code19 name="请求总量超限额，请通过QQ群（630770006）联系群管手动提额"></Code19>
    <Code100 name="无效的access_token参数，请检查后重新尝试"></Code100>
    <Code110 name="access_token无效"></Code110>
    <Code111 name="access token过期"></Code111>
    <Code282000 name="服务器内部错误，请再次请求， 如果持续出现此类错误，请通过QQ群（630770006）或工单联系技术支持团队"></Code282000>
    <Code216017 name="未建库，请先前往控制台申请建库"></Code216017>
    <Code216100 name="请求中包含非法参数，请检查后重新尝试"></Code216100>
    <Code216101 name="缺少必须的参数，请检查参数是否有遗漏"></Code216101>
    <Code216102 name="请求了不支持的服务，请检查调用的url"></Code216102>
    <Code216103 name="请求中某些参数过长，请检查后重新尝试"></Code216103>
    <Code216110 name="不存在，请重新核对信息是否为后台应用列表中的appid"></Code216110>
    <Code216200 name="图片为空，请检查后重新尝试"></Code216200>
    <Code216201 name="上传的图片格式错误，现阶段我们支持的图片格式为：PNG、JPG、JPEG、BMP，请进行转码或更换图片"></Code216201>
    <Code216202 name="上传的图片大小错误，现阶段我们支持的图片大小为：base64编码后小于4M，分辨率不高于4096*4096，请重新上传图片"></Code216202>
    <Code216203 name="模型提取不到有效的图片特征，一般有以下几种情况：1）图片尺寸太小，比如小于300px，甚至200px；或者图片长宽比太大，比如那种细长的长条图、竖条图；2）图片特征过于单一，比如纯色图、只有一根黑色的圆柱体等；3）图片中主体太多，比如一张图里有十几双鞋子、或者多只口红啥的，模型不知道应该以哪一个主体为识别目标，就处理不了了。请更换图片"></Code216203>
    <Code216630 name="识别错误，请再次请求，如果持续出现此类错误，请通过QQ群（630770006）或工单联系技术支持团队"></Code216630>
    <Code216631 name="识别银行卡错误，出现此问题的原因一般为：您上传的图片非银行卡正面，上传了异形卡的图片或上传的银行卡正品图片不完整"></Code216631>
    <Code216633 name="识别身份证错误，出现此问题的原因一般为：您上传了非身份证图片或您上传的身份证图片不完整"></Code216633>
    <Code216680 name="不在库里"></Code216680>
    <Code216681 name="已经在库里，不能重复入库"></Code216681>
    <Code216634 name="检测错误，请再次请求，如果持续出现此类错误，请通过QQ群（630770006）或工单联系技术支持团队"></Code216634>
    <Code282003 name="请求参数缺失"></Code282003>
    <Code282005 name="处理批量任务时发生部分或全部错误，请根据具体错误码排查"></Code282005>
    <Code282006 name="批量任务处理数量超出限制，请将任务数量减少到10或10以下"></Code282006>
    <Code282111 name="url格式非法，建议更换图片地址"></Code282111>
    <Code282112 name=" url下载超时，请检查url对应的图床/图片无法下载或链路状况不好，您可以重新尝试一下，如果多次尝试后仍不行，建议更换图片地址"></Code282112>
    <Code282113 name="URL返回无效参数，一般是图片URL抓图失败，由于图床的差异性，抓图服务无法适配所有的图床，部分URL可能抓不到图，请将图片下载到本地转码后上传"></Code282113>
    <Code282114 name="图片URL长度超过1024字节或为0"></Code282114>
    <Code282808 name="Request id 不存在"></Code282808>
    <Code282809 name="返回结果请求错误（不属于excel或json）"></Code282809 >
    <Code282810 name="图像识别错误"></Code282810 >
    <Code283300 name="数据格式有误，可以检查base64编码、代码格式等"></Code283300 >
    </ErrorCode>
</Settings>
